<!-- Written by Berty Ruan for his Introductory Engineering Design class at Pennsylvania State University-->
<html>
	<div class="resume_header margin">
		<span class="thirty_px_font"> 
			<ul><b>Berty Qiming Ruan</b></ul>
		</span>
		<ul>340 Atherton Hall</ul>
		<ul>State College, PA 16802 </ul>
		<ul>412.337.9148 </ul>
	</div>

	<!-- Nav Bar -->
	<div class="center small_padding margin"> 
		<%= link_to "Home", root_path %> | <%= link_to "RCL Blog", "http://sites.psu.edu/berty" %> | <%= link_to "HESE Blog", "http://sites.psu.edu/ruanberty" %>
	</div>


	<!-- I could write a helper function that took titles and outputed <li> tags around it-->
	<body>
		<div class="margin">
			<li class="content_header"> A bit about myself </li>
			I'm nineteen and a proud Penn State student. My academic life is hard to describe, but my classes are focused towards the social sciences and social entrepreneurship. In between my time outside of school, I work with a local org called New Leaf, a co-working slash collaboration hub that connects really unique people together, and of course, I like to social dance. Music is good too. Friends are better. Meditating is serene. 
		</div>

<!-- My Education -->
<div class="tabbable margin_two"> 
		<ul class="nav nav-tabs">
		    <li class="active"><a href="#education" data-toggle="tab">My Education</a></li>
		    <li><a href="#interests" data-toggle="tab">My Interests</a></li>
  		</ul>
  			  <div class="tab-content">
				<div class="tab-pane active" id="education">
					<div>
						<h3 class="center"> My Education </h3>
						<li class="content_header"> Pennsylvania State University: Schreyer Honors College <span class="right_align">August 26,2013 - May 2017</span> </li>
						<li>-University Park, Pennsylvania</li>
						<li>-'Community Enviroment and Development' Major, GPA 3.83</li>
					</div>

					<div class="margin_three">
						<li class="content_header"> Plum Senior High School <span class="right_align"> August '09 - June 2013</span></li>
							<li> Plum Borough, Pennsylvania </li>
							<li>-Graduated with 4.00 non-weighted. Valedictorian - class size 319</li>
					</div>

					<div class="margin_three">
						<li class="content_header"> Udacity and Coursera ~ Massive Open Online Courses </li> 
							<li>-Introduction to Computer Science - Building a Search Engine w/Python</li>
								<li class="indent"> Recieved a "Certificate of Accomplishment": built an elementary search engine </li>
							<li>-Design of Everyday Things with Donald Norman</li>
								<li class="indent"> In Progress: Learned about the tenets of design thinking </li>
							<li>-A Brief History of Humanity with Yuval Noah Harari</li>
								<li class="indent"> Recieved a "Statement of Accomplishment": viewed history via a bio-gloabl perspective </li>
							<li>- Blended Learning: Personalizing Education for Students </li>
								<li class="indent"> Incomplete: learned how technology and classroom design can affect learning outcomes </li>
					</div>
				</div>


			
	<!-- My Interests -->
				<div class="tab-pane active" id="interests">
					<div>
						<h3 class="center"> My Interests </h3>
						<li class="content_header"> Activities </li>
							<li>-Intern at the New Leaf Initiative - State College, PA</li>
								<li class="indent"> -Our mantra is 'Work better, togehter'. I am responsible for developing the start-up's website, initiating at least one community activity, bloggin and among others. </li>
							<li>-Free Conversation Chapter - State College, PA</li>
								<li class="indent"> -Heading the movement for Free Conversations in Penn State and State College. The idea is just like what the name means. I want to catalyze social interactions here and increase the amount of diverse and meaningful conversations here.  <li>
							<li>-Fellow of Humanitarian Engineer and Social Entrepreneurship @ Penn State</li>
								<li class="indent"> - I am the lead person to combat the malnutrition problems in Sierra Leone. Currently, I am researching the many facets of Sierra Leone. </li>
							<li>-Intern at Measure Education</li>
							<li class="indent">-Providing small budding schools with the backend tools to manage and analyze school resources and data. My task is to mine data from PowerSchool.</li>
					</div>

					<div class="margin_three">
						<li class="content_header"> Hobbies </li>
							<li>-I grew up playing the violin and in youth orchestras in Pittsburgh. For the past few years, I've developed a linking for conducting. It's almost like dancing.</li>
							<li>-Playing Ultimate Frisbee, Squash and Soccer are great ways to keep up with my friends. To keep fit, I generally run or swim.</li>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

