<!-- Written by Berty Ruan for his Introductory Engineering Design class at Pennsylvania State University-->
<html>
	<div class="resume_header">
		<ul><b>Berty Ruan</b></ul>
			<span class="resume_subheader">
				<ul>340 Atherton Hall </ul>
				<ul>State College, PA 16802 </ul>
				<ul>412.337.9148 </ul>
			</span>
	</div>

	<!-- I could write a helper function that took titles and outputed <li> tags around it-->
	<body>
		<div>
			<li class="content_header"> Objective </li>
			To find an intership or a summer job doing something fun, perhaps geeky and related to community development.
		</div>

<!-- My Education -->

			<div>
				<h3> Education </h3>
				<li class="content_header"> Pennsylvania State University: Schreyer Honors College <span class="right_align">August 26,2013 - May 2017</span> </li>
				<li>-University Park, Pennsylvania</li>
				<li>-'Community Enviroment and Development' and 'Information Science and Technology' Major </li>
			</div>

			<div>
				<li class="content_header"> Revlalent Courses </li>
					<li>-Community Development Concepts</li>
					<li>-Design for Developing Communities </li>
						<li>-Humnitarian Engineer and Social Entrepreneurship class Mashavu Healthcare </li>
					<li>-Introduction to Engineer Design</li>
			</div>

			<div>
				<li class="content_header"> Plum Senior High School <span class="right_align"> August '09 - June 2013</span></li>
					<li> Plum Borough, Pennsylvania </li>
					<li>-Graduated with 4.00 non-weighted. Valedictorian - class size 319</li>
			</div>

			<div>
				<li class="content_header"> Udacity and Coursera ~ Massive Open Online Courses </li> 
					<li>-Introduction to Computer Science - Building a Search Engine w/Python</li>
						<li class="indent"> Earned a Certificate of Accomplishment </li>
					<li>-Design of Everyday Things with Donald Norman</li>
						<li class="indent"> In Progress </li>
					<li>-A Brief History of Humanity with Yuval Noah Harari</li>
						<li class="indent"> Incomplete - Waiting to Read the Book instead </li>
					<li>- Blended Learning: Personalizing Education for Students </li>
						<li class="indent"> Incomplete </li>
			</div>


		
<!-- My Interests -->
			<div>
				<h3> My Interests </h3>
				<li class="content_header"> Professional Interests </li>
					<li class="paragraph_height">In recent years, I believed that most adolescents' social and academic problems stemmed from poor school design. If a student fell behind or didn't want to attend school, the blame should be placed on the so-called factory model of education. I did not image that my community design played much of a role in childhood education. My realization that perhaps this actually affected my peers' educational experiences influenced me to dive into the community development major. I choose Information Science and Technology because I realize the importance of digitial communities too.</li>
			</div>

			<div>
				<li class="content_header"> Professional Activities </li>
					<li>-Intern at the New Leaf Initiative in State College, PA</li>
						<li class="indent"> -Our mantra is 'Work better, togehter'. I am responsible for developing the start-up's website, initiating at least one community activity, bloggin and among others. </li> 
					<li>-Student of the Humanitarian Engineer and Social Entrepreneurship class</li>
						<li class="indent"> -Our telemedicine solution addresses the low doctor density in resource constraint regions. Our pilot is currently centered in Kenya. Waiting for five more weeks as of 1/22/14</li>
					<li>-Intern at Measure Education</li>
					<li class="indent">-Providing small budding schools with the backend tools to manage and analyze school resources and data. (currently unidentified role. Waiting for 1/25/14</li>
			</div>

			<div>
				<li class="content_header"> Personal Interest </li>
					<li>-I like 'good' music. I grew up playing the violin and in youth orchestras in Pittsburgh.</li>
					<li>-I like playing Ultimate Frisbee and Soccer. To keep fit, I generally run or swim.</li>
			</div>

			<div>
				<li class="content_header"> Hobbies </li>

			</div>

	</body>
</html>