<!-- Written by Berty Ruan for his Introductory Engineering Design class at Pennsylvania State University-->
<html>
	<div class="resume_header">
		<ul><b>Berty Ruan</b></ul>
			<span class="resume_subheader">
				<ul>340 Atherton Hall </ul>
				<ul>State College, PA 16802 </ul>
				<ul>412.337.9148 </ul>
			</span>
	</div>

	<!-- I could write a helper function that took titles and outputed <li> tags around it-->
	<body>
		<div>
			<li class="content_header"> Objective </li>
			For you to better understand who I am and determine whether I am a resonable candidate for your company.
		</div>

		<div>
			<li class="content_header"> Education </li>
			<li>-Pennsylvania State University - University Park campus </li>
			<li>-Class of 2017 </li>
			<li>-'Community Enviroment and Development' and 'Information Science and Technology' Major </li>
		</div>

		<div>
			<li class="content_header"> Revlalent Courses </li>
				<li>-Community Development Concepts</li>
				<li>-Intro to Rural Sociology</li>
				<li>-Design for Developing Communities </li>
				<li>-Humnitarian Engineer and Social Entrepreneurship class Mashavu Healthcare (Merged)</li>
				<li>-Intro to Engineer Design</li>
		</div>

		<div>
			<li class="content_header"> Plum Senior High School </li>
				<li>-Class of 2013</li>
				<li>-Graduated with 4.00 non-weighted. Valedictorian.</li>
		</div>

		<div>
			<li class="content_header"> Udacity and Coursera ~ Massive Open Online Courses </li> 
				<li>-Intro to Computer Science </li>
				<li>-Design of Everyday Things </li>
				<li>-Brief History of Humanity </li>
				<li>-Blended Learning </li>
		</div>

		<div>
			<li class="content_header"> Professional Interests </li>
				<li>I grew up in an area affected by urban sprawl and I grew up disconnected with my community. I realized this while taking my Community Development Concepts class and since then, have put much thought and focus in this area.To better understand my culture and environment relative to others, and levarage community resources to solve critical community development issues.</li>
		</div>

		<div>
			<li class="content_header"> Activities </li>
				<li>-Intern at the New Leaf Initiative</li>
				<li>-Student of the Humanitarian Engineer and Social Entrepreneurship class</li>
				<li>-Intern at Measure Education</li>
				<li class="indent">-Providing small budding schools with the backend tools to manage and analyze school resources and data</li>
		</div>

		<div>
			<li class="content_header"> Personal Interest/Hobbies </li>
				<li>-I like 'good' music. I grew up playing the violin and in youth orchestras in Pittsburgh.</li>
				<li>-I like playing Ultimate Frisbee and Soccer. To keep fit, I generally run or swim.</li>
		</div>
	</body>
</html>